# Programing for Data Analysis Assignment

<b>Student name: Lais Coletta Pereira </b>

Calendar
today - select a data set that would work in this project and understands what this project is about
Tomorrow - same
24.11 - start analysis
25.11 - select variables 
26.11 - select type of distribution 
27.11 - 
28.11
29.11
30.11
1.12
2.12
3.12
4.12


## Introduction
This project aims to syntesize and model the Earth's temperature change dataset. For this project I will use onl taking into consideration certain (variables). 
This dataset was downloaded from the website kaggle.com (https://www.kaggle.com/datasets/berkeleyearth/climate-change-earth-surface-temperature-data) and more information about the data collection and creation can be found in the README file in this repository.

In [23]:
#import packages needed to analyse the dataset
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

#call a function that stops showing the warning boxes in jupyter notebook
import warnings
warnings.filterwarnings('ignore')

#read dataset and create the 'df' variable
df = pd.read_csv ('GlobalLandTemperaturesByCountry.csv')
print (df)

                dt  AverageTemperature  AverageTemperatureUncertainty  \
0       1743-11-01               4.384                          2.294
1       1743-12-01                 NaN                            NaN
2       1744-01-01                 NaN                            NaN
3       1744-02-01                 NaN                            NaN
4       1744-03-01                 NaN                            NaN
...            ...                 ...                            ...
577457  2013-05-01              19.059                          1.022
577458  2013-06-01              17.613                          0.473
577459  2013-07-01              17.000                          0.453
577460  2013-08-01              19.759                          0.717
577461  2013-09-01                 NaN                            NaN

         Country
0          Åland
1          Åland
2          Åland
3          Åland
4          Åland
...          ...
577457  Zimbabwe
577458  Zimbabwe
577459  Zimbabwe
577460  Zimbabwe
577461  Zimbabwe

[577462 rows x 4 columns]

Using the describe() function we can have an overview of this large dataset. This function is used to generate descriptive statistics that summarize the central tendency, dispersion, and shape of a dataset's distribution. The definition of each parameter we have when calling this function are:

<i>count - The number of not-empty values;
mean - The average (mean) value;
std - The standard deviation;
min - the minimum value;
25% - The 25% percentile*;
50% - The 50% percentile*;
75% - The 75% percentile*;
max - the maximum value.

*Percentile meaning: how many of the values are less than the given percentile.

 Reference: w3resource.com/pandas/dataframe/dataframe-describe.php) </i>

In [24]:
df.describe ()

       AverageTemperature  AverageTemperatureUncertainty
count       544811.000000                  545550.000000
mean            17.193354                       1.019057
std             10.953966                       1.201930
min            -37.658000                       0.052000
25%             10.025000                       0.323000
50%             20.901000                       0.571000
75%             25.814000                       1.206000
max             38.842000                      15.003000

Using the value_counts() function, we can see an I organized by species of flowers. We have exactly 50 of each species, Iris Setosa, Iris Versicolor, and Iris Virginica.

In [26]:
df.Country.value_counts()

Åland                                  3239
Faroe Islands                          3239
Greece                                 3239
Germany                                3239
Saint Pierre And Miquelon              3239
                                       ...
Northern Mariana Islands               1329
Guam                                   1329
Heard Island And Mcdonald Islands       788
French Southern And Antarctic Lands     788
Antarctica                              764
Name: Country, Length: 243, dtype: int64

### Analysing the 'GlobalLandTemperaturesByCountry.csv' dataset

This is a large dataset and for the matter of this project I will slice it to make it smaller and easier to analyse. I am going to syntesize the data of only Ireland's temperature from 1900 to 2013