# Programing for Data Analysis Assignment

<b>Student name: Lais Coletta Pereira </b>

Calendar
today - select a data set that would work in this project and understands what this project is about
Tomorrow - same
24.11 - start analysis
25.11 - select variables 
26.11 - select type of distribution 
27.11 - 
28.11
29.11
30.11
1.12
2.12
3.12
4.12


## Introduction
This project aims to syntesize and model the Earth's temperature change dataset. For this project I will use onl taking into consideration certain (variables). 
This dataset was downloaded from the website kaggle.com (https://www.kaggle.com/datasets/berkeleyearth/climate-change-earth-surface-temperature-data) and more information about the data collection and creation can be found in the README file in this repository.

In [3]:
#import packages needed to analyse the dataset
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

#call a function that stops showing the warning boxes in jupyter notebook
import warnings
warnings.filterwarnings('ignore')

#read dataset and create the 'df' variable
df = pd.read_csv ('GlobalTemperatures.csv')

df

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3187,2015-08-01,14.755,0.072,20.699,0.110,9.005,0.170,17.589,0.057
3188,2015-09-01,12.999,0.079,18.845,0.088,7.199,0.229,17.049,0.058
3189,2015-10-01,10.801,0.102,16.450,0.059,5.232,0.115,16.290,0.062
3190,2015-11-01,7.433,0.119,12.892,0.093,2.157,0.106,15.252,0.063
3191,2015-12-01,5.518,0.100,10.725,0.154,0.287,0.099,14.774,0.062

In [10]:
#create a new data frame with the sliced data I want to work on my project. 
newdf = df.iloc[: , [0,1,3,5,7]]
newdf

,dt,LandAverageTemperature,LandMaxTemperature,LandMinTemperature,LandAndOceanAverageTemperature
3000,2000-01-01,2.950,8.349,-2.322,13.773
3001,2000-02-01,4.184,9.863,-1.371,14.266
3002,2000-03-01,6.219,12.205,0.376,14.846
3003,2000-04-01,9.552,15.534,3.680,15.762
3004,2000-05-01,11.874,17.721,5.997,16.395
...,...,...,...,...,...
3187,2015-08-01,14.755,20.699,9.005,17.589
3188,2015-09-01,12.999,18.845,7.199,17.049
3189,2015-10-01,10.801,16.450,5.232,16.290
3190,2015-11-01,7.433,12.892,2.157,15.252
3191,2015-12-01,5.518,10.725,0.287,14.774

Using the describe() function we can have an overview of this large dataset. This function is used to generate descriptive statistics that summarize the central tendency, dispersion, and shape of a dataset's distribution. The definition of each parameter we have when calling this function are:

<i>count - The number of not-empty values;
mean - The average (mean) value;
std - The standard deviation;
min - the minimum value;
25% - The 25% percentile*;
50% - The 50% percentile*;
75% - The 75% percentile*;
max - the maximum value.

*Percentile meaning: how many of the values are less than the given percentile.

 Reference: w3resource.com/pandas/dataframe/dataframe-describe.php) </i>

In [11]:
newdf.describe ()

,LandAverageTemperature,LandMaxTemperature,LandMinTemperature,LandAndOceanAverageTemperature
count,192.000000,192.000000,192.000000,192.000000
mean,9.542094,15.285479,3.859901,15.822062
std,4.144255,4.262077,4.010021,1.228813
min,2.844000,8.155000,-2.383000,13.719000
25%,5.896750,11.433750,0.117750,14.738500
50%,9.749500,15.607500,3.940000,15.885000
75%,13.385000,19.247500,7.620250,17.001500
max,15.482000,21.320000,9.684000,17.611000

Using the value_counts() function, we can see an I organized by species of flowers. We have exactly 50 of each species, Iris Setosa, Iris Versicolor, and Iris Virginica.

In [26]:
df.Country.value_counts()

Åland                                  3239
Faroe Islands                          3239
Greece                                 3239
Germany                                3239
Saint Pierre And Miquelon              3239
                                       ...
Northern Mariana Islands               1329
Guam                                   1329
Heard Island And Mcdonald Islands       788
French Southern And Antarctic Lands     788
Antarctica                              764
Name: Country, Length: 243, dtype: int64

### Analysing the 'GlobalLandTemperaturesByCountry.csv' dataset

This is a large dataset and for the matter of this project I will slice it to make it smaller and easier to analyse. I am going to syntesize the data of only Ireland's temperature from 1900 to 2013